<div #slideButtonContainer class="slide__listener" [ngClass]="{'show': !isDisabled}">
  <button class="button-slider" [ngClass]="{'animation': animation, 'doge': isDogecoin}" #slideButton ion-button icon-right large (touchstart)="activateButton($event)" (touchmove)="dragButton($event)" (touchend)="resetButton()" [disabled]="isDisabled" *ngIf="!isConfirm">
    <div class="slide__bitcoin" [ngClass]="{'doge': isDogecoin}" [ngStyle]="bitcoinStyle">
      <img *ngIf="!isDogecoin" src="assets/img/app/slider-button.svg">
      <img *ngIf="isDogecoin" src="assets/img/currencies/doge.svg">
    </div>
  </button>
  <div #slideText id="button-text" class="slide__button-text" (touchstart)="toggleAnimation()" (touchmove)="toggleAnimation()" [ngStyle]="textStyle" *ngIf="!isConfirm">
    {{buttonText}}
  </div>
  <div #slideArrow class="slide__arrow " *ngIf="!isConfirm">
    <img src="assets/img/icon-arrow-right.svg">
  </div>
  <div class="slide__status-text" [ngClass]="{'enter': isConfirm}" *ngIf="isConfirm">
    <ion-spinner color="primary" *ngIf="isConfirm"></ion-spinner>
  </div>
</div>
