action-sheet{
  .info-container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-bottom: calc(env(safe-area-inset-bottom));
  
    .border-none {
      .item-inner {
        border-bottom: none !important;
      }
    }
    .confirm-sheet {
      padding: 25px;
  
      .sheet-title {
        align-items: center;
        color: #060606;
        font-size: 19px;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
  
        .truncate {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
  
        .title-icon {
          padding-right: 15px;
          display: flex;
          align-self: center;
        }
      }
  
      .sheet-text {
        font-size: 16px;
        color: rgb(46, 46, 46);
        font-weight: 300;
        padding: 25px 0px;
      }
  
      .text-address {
        letter-spacing: 1px;
      }
  
      .sheet-btn-group {
        color: #69caa7;
        font-size: 16px;
        border-top: 1px solid #ebebeb;
        cursor: pointer;
        display: flex;
  
  
        .sheet-btn {
          color: #69caa7;
          flex-grow: 1;
          padding-top: 15px;
          margin-right: 10px;
        }
  
        .sheet-btn.blue {
          color: #5476eb;
        }
  
        .sheet-btn.yellow {
          color: #fdb455;
        }
  
        .sheet-btn.red {
          color: #df5264;
        }
  
        .sheet-btn.default {
          color: #464c5e;
        }
  
        .sheet-second-btn {
          color: #464c5e;
          padding-top: 15px;
        }
  
        .sheet-second-btn.primary {
          color: var(--color-primary);
        }
      }
    }
  
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      padding-bottom: 20px;
    }
  }
}
info-sheet{
  z-index: 99999;
}
