<ion-icon *ngIf="coin && coin !== 'default'" class="item-img rectangle" [ngClass]="{ 
'background_btc': coin == 'btc',
'background_bch': coin == 'bch',
'background_xec': coin == 'xec',
'background_eth': coin == 'eth',
'background_xrp': coin == 'xrp',
'background_usdc': coin == 'usdc',
'background_pax': coin == 'pax',
'background_gusd': coin == 'gusd',
'background_busd': coin == 'busd',
'background_dai': coin == 'dai',
'background_wbtc': coin == 'wbtc',
'background_doge': coin == 'doge',
'background_ltc': coin == 'ltc',
'background_xpi': coin == 'xpi',
'testnet': network === 'testnet'
}" src="assets/img/currencies/{{coin}}.svg" slot="start">
</ion-icon>

<ion-icon *ngIf="coin ==='default'" name="logo-usd" color="success" class="item-img rectangle background_default" slot="start"></ion-icon>