<wide-header-page title="{{'Language'|translate}}">
  <div page-content>
    <ion-list lines="none"
      class="settings-list bp-list"
      >
      <ion-radio-group [value]="currentLanguage">
        <ion-item *ngFor="let language of languages">
          <ion-label> {{ language.name }} </ion-label>
          <ion-radio
          (click)="save(language.isoCode)"
          [value]="language.isoCode"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</wide-header-page>
