page-proposals-notifications {
  .select-all {
    display: flex;
    .multi-sign {
      cursor: pointer;
      color: var(--color-primary);
      ion-icon {
        font-size: 3rem;
        margin-right: 2rem;
      }
      &.close ion-icon {
        margin-right: 5px;
      }
    }
  }
  .circle-status {
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
    margin-right: 0.3rem;
    padding: 4px;
  }
  .assertive {
    background-color: var(--color-danger);
  }
  .balanced {
    background-color: var(--color-success);
  }
  .txp-container {
    &:last-child .proposal-container {
      .item-inner {
        border-bottom: none;
      }
    }
    display: flex;
    align-items: center;
    background-color: white;
    ion-checkbox {
      margin-left: 1.2rem;
      .checkbox-icon {
        border-color: var(--color-primary);
      }
    }
    page-txp {
      width: 100%;
    }
    .with-checkbox {
      margin-left: 16px;
      .proposal-container {
        padding-left: 0;
      }
    }
  }
}
