<wide-header-page title="{{'New contact'|translate}}">
  <ion-buttons slot="end">
    <ion-button fill="clear" wide-header-bar-button (click)="save()" [disabled]="addressBookAdd.invalid">
      <span translate>Add</span>
    </ion-button>
  </ion-buttons>
  <div page-content>

    <form [formGroup]="addressBookAdd">
      <ion-item>
        <ion-label position="stacked">{{ 'Name' | translate }}</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'Email (optional)' | translate }}</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'Address' | translate }}</ion-label>
        <ion-input formControlName="address" type="text" [value]="addressBookAdd.value.address" address-validator></ion-input>

        <ion-icon *ngIf="addressBookAdd.controls['address'].status == 'VALID'" name="checkmark-circle" class="check success" slot="end"></ion-icon>
        <ion-icon *ngIf="addressBookAdd.value.address && addressBookAdd.controls['address'].status == 'INVALID'" class="check fail" name="close-circle" slot="end"></ion-icon>

        <ion-icon *ngIf="isCordova" class="scanner-icon" name="scan" slot="end" (click)="openScanner()"></ion-icon>
      </ion-item>

      <ion-item *ngIf="addressBookAdd.value.address && !!isXRP">
        <ion-label position="stacked">{{ 'Destination Tag' | translate }}</ion-label>
        <ion-input formControlName="tag" type="number" [value]="addressBookAdd.value.tag"></ion-input>

        <ion-icon *ngIf="addressBookAdd.value.tag && addressBookAdd.controls['tag'].status == 'VALID'" name="checkmark-circle" class="check success" slot="end"></ion-icon>
        <ion-icon *ngIf="addressBookAdd.value.tag && addressBookAdd.controls['tag'].status == 'INVALID'" class="check fail" name="close-circle" slot="end"></ion-icon>

        <ion-icon *ngIf="isCordova" class="scanner-icon" name="scan" slot="end" (click)="openScanner()"></ion-icon>
      </ion-item>
      <label-tip type="info" header="no-header" *ngIf="addressBookAdd.value.address && !!isXRP">
        <div label-tip-body>
          <span translate>BitPay cannot validate the destination tag. Before sending XRP please double-check the destination tag with the receiver, if not valid it may result in the permanent loss of the funds.</span>
        </div>
      </label-tip>
      <ion-item *ngIf="this.addressBookAdd.get('address').valid && coins.length>1">
        <ion-label position="stacked" translate>Coin</ion-label>
        <!-- <ion-input formControlName="coin" type="text" [value]="addressBookAdd.value.coin"></ion-input> -->
        <ion-select formControlName="coin" [disabled]="coins.length === 1" (ionChange)="analizeAddress(addressBookAdd.value.address, addressBookAdd.value.network, addressBookAdd.value.coin)">
          <ion-select-option *ngFor="let _coin of coins" [value]="_coin">{{_coin}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.addressBookAdd.get('address').valid && allowNetworkSelection">
        <ion-label position="stacked" translate>Network</ion-label>
        <ion-select formControlName="network" (ionChange)="analizeAddress(addressBookAdd.value.address, addressBookAdd.value.network, addressBookAdd.value.coin)">
          <ion-select-option *ngFor="let net of networks" [value]="net">{{net}}</ion-select-option>
        </ion-select>
      </ion-item>
      <label-tip type="danger" header="no-header" *ngIf="addressBookAdd.value.address && addressBookAdd.controls['address'].status == 'INVALID'">
        <div label-tip-body>
          <span>{{'This field only accepts addresses supported by {appName} Wallet' | translate:{appName: appName} }}</span>
        </div>
      </label-tip>
    </form>
  </div>
</wide-header-page>