<action-card-v4 (click)="goToAddWalletPage()" tappable>
  <div action-card-header>
    <div class="zero-state-wallets">
      <div class="zero-state-image">
        <img src="assets/img/zero-state-wallet.png">
      </div>
    </div>
  </div>
  <div action-card-title translate>Create or import a wallet</div>
  <div action-card-body translate>
    Take control of your crypto
  </div>
  <div action-card-button translate>
    Get Started
  </div>
</action-card-v4>