<wide-header-page title="{{'Lock'|translate}}">
  <div page-content>
    <ion-list lines="none" class="bp-list">
      <ion-radio-group>
        <ion-item *ngFor="let opt of options">
          <ion-label>{{opt.label}}</ion-label>
          <ion-radio (click)="select(opt.method)" value="{{opt.method}}" checked="{{opt.enabled}}" disabled="{{opt.disabled}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div *ngIf="needsBackupMsg" class="msg-container ion-text-wrap">
      <span class="assertive">{{needsBackupMsg}}</span>
    </div>
  </div>
</wide-header-page>