::ng-deep pin-pad {
  width: 100%;
  --short-screen-pin: 600px;
  .amount-delete {
    margin-right: 10px;
  }

  .buttons-container {
    text-align: center;
    width: 100%;
  }

  ion-row {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    @media (max-height: var(--short-screen-pin)) {
      font-size: 24px;
    }

    ion-col {
      height: 9vh;
      min-height: 58px;
      @media (max-height: var(--short-screen-pin)) {
        height: 7vh;
        min-height: 38px;
      }
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .letters {
        color: #9b9b9b;
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 4px;
        height: 22px;
      }

      &.disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
