.assertive {
  color: var(--color-danger);

  ion-label {
    white-space: inherit;
  }
}

.item-text {
  font-size: 12.5px;
}

ion-item-divider {
  padding-left: 16px;
}
.bp-list {
  ion-item-divider {
    margin-top: 0px;
    padding: 12.5px 0px 12.5px 20px;
    background: #f8f8f9;
    .reorder-option {
      font-size: 1.4rem;
      margin: 0 8px 0 !important;
    }
  }
}

.item-without-title {
  margin-top: 0;
}
