<wide-header-page title="{{title}}">
  <div page-content *ngIf="!isZeroState || (isZeroState && isJoin)">
    <span class="list-subtitle" translate>Featured Currencies</span>
    <ion-list lines="none" class="settings-list bp-list">
      <div *ngFor="let coin of availableChains">
        <ion-item class="list-button" [disabled]="coin === 'eth' && (isShared || isJoin) && !keyId" (click)="goToCreateWallet(coin)">
          <ion-icon src="assets/img/currencies/{{coin}}.svg" slot="start">
          </ion-icon>
          <div class="item-title">{{ getCoinName(coin) }} ({{ coin.toUpperCase() }})</div>
          <div class="item-note" *ngIf="coin === 'eth' && (isShared || isJoin) && !keyId" translate>Only available for already created keys</div>
          <div class="item-note" *ngIf="coin === 'eth' && (isShared || isJoin) && !keyId" translate>Try "create new wallet" option instead</div>
        </ion-item>
      </div>
      <div *ngIf="!isShared && !isJoin">
        <span class="list-subtitle" *ngIf="availableTokens?.length>0">Tokens</span>
        <ion-item *ngFor="let token of availableTokens" class="list-button" [disabled]="tokenDisabled[token.symbol]" (click)="showPairedWalletSelector(token)">
          <ion-icon src="assets/img/currencies/{{token.symbol.toLowerCase()}}.svg" slot="start">
          </ion-icon>
          <div class="item-title">{{ token.name }} ({{ token.symbol }})</div>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <div page-content *ngIf="isZeroState && !isJoin">
    <span class="list-subtitle" translate>Featured Currencies</span>
    <div class="flex-content">
      <ion-list lines="none" class="settings-list bp-list">
        <div *ngFor="let coin of availableChains">
          <ion-item class="list-button">
            <ion-icon src="assets/img/currencies/{{coin}}.svg" slot="start">
            </ion-icon>
            <ion-label class="item-title">{{ getCoinName(coin) }} ({{coin.toUpperCase() }})</ion-label>
            <ion-toggle [(ngModel)]="coinsSelected[coin]" (ngModelChange)="setTokens(coin)"></ion-toggle>
          </ion-item>
        </div>
        <div *ngIf="!isShared && !isJoin && availableTokens.length > 0">
          <span class="list-subtitle">Tokens</span>
          <ion-item *ngFor="let token of availableTokens" class="list-button">
            <ion-icon src="assets/img/currencies/{{token.symbol.toLowerCase()}}.svg" slot="start">
            </ion-icon>
            <ion-label class="item-title">
              {{ token.name }} ({{ token.symbol }})
            </ion-label>
            <!-- // [disabled]="!coinsSelected.eth" -->
            <ion-toggle [(ngModel)]="tokensSelected[token.symbol]"></ion-toggle>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
  <div footer-content *ngIf="isZeroState && !isJoin">
    <ion-toolbar>
      <ion-button class="button-standard" [ngClass]="{'ion-no-margin-bottom': !isOnboardingFlow}" [disabled]="!coinsSelected.bch && !coinsSelected.xec && !coinsSelected.xpi && !coinsSelected.doge && !coinsSelected.ltc && !coinsSelected.xpi" (click)="createWallets()">
        {{isOnboardingFlow ? 'Continue' : 'Create' | translate}}
      </ion-button>
      <ion-button fill="clear" class="button-standard" (click)="goToImportWallet()" *ngIf="!isOnboardingFlow">
        {{ 'Import existing wallet' | translate }}
      </ion-button>
    </ion-toolbar>
  </div>
</wide-header-page>