.qr-card-amount {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;

  small {
    font-weight: normal;
    font-size: 13.5px;
  }
}

.receive-content {
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;

    .title {
      font-size: 18px;
      font-weight: 500;
    }

    ion-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.addr-container {
  margin: 0 15px 0 15px;
  text-align: center;
  font-size: 15px;

  .text-address {
    color: var(--color-light-grey);
    padding: 13px 10px;
    border-radius: 6px;
    position: relative;

    .address-text {
      width: 100%;
      vertical-align: middle;
      display: inline-block;
      opacity: 1;
      transition: opacity 500ms ease;
      padding-left: 30px;

      .address-placeholder {
        font-size: 14px;

        @media (max-height: 530px) {
          font-size: 11.5px;
        }
      }
    }

    .copy-to-clip {
      position: absolute;
      left: 10px;
      margin-top: 2px;
    }
  }
}
