page-copayers {
  .toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copayers-header {
    width: 100%;
    margin-bottom: 10px;
    &-content {
      padding: 0 2rem;
      .title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 1rem;
        @media (max-width: 370px) {
          padding-bottom: 0.5rem;
        }
      }
      .text {
        opacity: 0.7;
      }
    }
  }
  .white-card {
    background: white;
    padding: 2rem;
    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .share-button {
    margin-left: 3.5rem;
  }

  .error-msg {
    text-align: center;
  }

  // Timeline styles
  .timeline-item {
    background-color: var(--color-blank);
    border: 0;
    padding: 17px 0px;

    &:not(:nth-child(2)) {
      .timeline-content-icon {
        .line::before {
          content: '';
          background: #e8e8e8;
          height: 34px;
          width: 1px;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
          top: 0;
        }
        .line.no-border::before {
          height: 36px;
          top: 2px;
        }
      }
    }

    > * {
      padding-right: 0;
    }

    .line.no-border {
      top: 3px;
      ion-icon {
        font-size: 25px;
        color: var(--color-dark);
      }
    }
    .timeline-content {
      display: flex;
      align-items: center;

      &-icon {
        display: flex;
        align-items: center;
        min-width: 40px;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 0.5rem;
        position: relative;
        z-index: 11;

        .ion-ios-checkmark {
          &::before {
            font-size: 30px;
          }
        }

        > div {
          &:not(.no-border) {
            border: 2px solid var(--color-success);
          }
          border-radius: var(--icon-border-radius);
          display: flex;
          height: 23px;
          width: 23px;
          font-size: 13px;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          vertical-align: middle;
          color: var(--color-success);
          z-index: 10;
        }
      }

      &-label {
        flex-grow: 1;

        > .name {
          font-size: 16px;
          @media (max-width: 330px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
