<wide-header-page title="{{'Transaction speed' | translate}}" hideBackButton="true">
  <ion-buttons slot="start">
    <ion-button class="close-container disable-hover" (click)="close()">
      <ion-icon color="dark" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  
  <div page-content>
    <div class="testnet-warning" *ngIf="network!='livenet'">
      Testnet
    </div>
    <div *ngFor="let fee of feeOpts" class="fee-card" (click)="changeSelectedFee(fee.level)">
      <div class="fee-title">
        <div>
          <span class="fee-speed-name">{{ feeProvider.getFeeOpts(coin)[fee.level] | translate }}</span>
          <span class="fee-speed-satByte">{{fee.feePerSatByte}} {{ feeUnit }}</span>
        </div>
        <div>
          <ion-icon *ngIf="fee.level === feeLevel" name="checkmark-circle" class="fee-check success" slot="end"></ion-icon>
        </div>
      </div>
      <div>
        <span class="fee-avg-label" translate>Average confirmation time:</span>
        <span class="fee-avg-time">
          <span *ngIf="loadingFee">...</span>
          <span *ngIf="fee.avgConfirmationTime">
            {{ isERCToken ? fee.avgConfirmationTime : (fee.avgConfirmationTime | amDuration: 'minute') }}
          </span>
        </span>
      </div>
    </div>
    <div class="fee-card">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <div class="fee-speed-name">{{ 'Custom fee' | translate }}</div>
          </ion-col>
          <ion-col class="ion-text-right" size="2">
            <ion-icon *ngIf="'custom' === feeLevel" name="checkmark-circle" class="fee-check success" slot="end"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label class="ion-padding-bottom" position="stacked">{{'Enter custom fee in {feeUnit}' | translate: { feeUnit: feeUnit } }}:</ion-label>
          <ion-input type="number" min="minFee" max="maxFee" (ionChange)="checkFees(customSatPerByte)" [(ngModel)]="customSatPerByte" required></ion-input>
        </ion-item>
        <div class="fee-error" *ngIf="showError">
          <span translate>Transactions without fee are not supported.</span>
        </div>
        <div class="ion-text-wrap fee-error" *ngIf="showMinWarning || showMaxWarning">
          <span *ngIf="showMinWarning" translate>Your fee is lower than recommended.</span>
          <span *ngIf="showMaxWarning" translate>You should not set a fee higher than {{maxFeeRecommended}} {{feeUnit}}.</span>
        </div>
        <ion-button class="apply-button" fill="clear" color="primary" (click)="setCustomFee()" [disabled]="!customSatPerByte || customSatPerByte >= maxFeeAllowed || showError">
          {{'Apply' | translate}}
        </ion-button>
      </ion-grid>
    </div>
  </div>
</wide-header-page>